<section class="featured-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" text-center mt-5>
        <h2 class="text-white">featured posts</h2>
        <p class="text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
          itaque qui dolor omnis, obcaecati eius vel in totam assumenda officia
          at iusto molestias. In nobis laborum earum corrupti aperiam quo?
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3"></div>
    </div>
  </div>
</section>
