<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">Terms & Conditions</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel autem
        cupiditate amet quidem voluptate numquam ab molestias rerum at ratione,
        ex, rem quo impedit eaque fugiat iusto laborum quaerat similique!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
        accusamus iste libero sint saepe animi quae, aperiam provident dolores,
        sequi, nisi qui sunt alias ducimus rem excepturi distinctio quidem ea.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
        rerum, atque quia exercitationem autem nam minima adipisci sint, eaque
        magnam ut dolores aut obcaecati eligendi. Esse aliquid recusandae beatae
        quo?
      </p>
      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme">Back to home</button>
      </div>
    </div>
  </div>
</section>
